---
layout: default
permalink: "/authors.html"
---

<div class="container">
<h4 class="font-weight-bold spanborder"><span>{% if site.authors.size == 1 %}Author{% else %}Authors{% endif %}</span></h4>
    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.authors %}
        <div class="col-lg-6 mb-4">
            <div class="p-4 border rounded">
            <div class="row">
            <div class="col-md-3 mb-4 mb-md-0"><img alt="{{ author.name }}" src="{{site.baseurl}}/{{ author.avatar }}" class="rounded-circle" height="80" width="80"></div>
            <div class="col-md-9">
            <a href="{{site.baseurl}}/author-{{ author.slug }}">
            <h4 class="text-dark mb-0"> {{ author.name }} </h4>
            <small class="d-inline-block mt-1 mb-3 font-weight-normal">(View Posts)</small>
            <div class="excerpt">{{ author.bio }}</div>
            </a>
            <div class="icon-block mt-3 d-flex justify-content-between">
            <div>
              {% if author.website %}
              <a target="_blank" href="{{ author.website }}" title="Website"><i class="fa-solid fa-globe text-muted"></i></a> &nbsp;
              {% endif %}
              {% if author.linkedin %}
              <a target="_blank" href="{{ author.linkedin }}" title="LinkedIn"><i class="fa-brands fa-square-linkedin text-muted"></i></a> &nbsp;
              {% endif %}
              {% if author.github %}
              <a target="_blank" href="{{ author.github }}" title="GitHub"><i class="fa-brands fa-square-github text-muted"></i></a> &nbsp;
              {% endif %}
              {% if author.bluesky %}
              <a target="_blank" href="{{ author.bluesky }}" title="Bluesky"><i class="fa-brands fa-square-bluesky text-muted"></i></a> &nbsp;
              {% endif %}
              {% assign twitter_url = author.twitter | default: author.x %}
              {% if twitter_url %}
              <a target="_blank" href="{{ twitter_url }}" title="Twitter/X"><i class="fa-brands fa-square-x-twitter text-muted"></i></a> &nbsp;
              {% endif %}
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
