# Site
name: "Tiny Blog on a Teeny Cloud"
title: "Tiny Blog on a Teeny Cloud"
# description: 'Personal blog'
logo: "assets/images/logo.png"
favicon: "assets/images/favicon.ico"
baseurl: ""
fontawesome_version: "7.1.0"

include: ["_pages"]
permalink: /blog/:year/:month/:day/:title
relative_permalinks: false

# Plugins
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag

# Authors Collection
collections:
  authors:
    output: true
    permalink: /author-:slug.html

# Defaults
defaults:
  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: polo
      # avatar: assets/images/avatar.png

  # all drafts
  - scope:
      path: "_drafts"
    values:
      layout: post
      author: polo

  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page

  # all authors
  - scope:
      path: "_authors"
      type: "authors"
    values:
      layout: author

# Syntax
markdown: kramdown
highlighter: rouge
timezone: Europe/Paris
future: true

# Paginate
paginate: 10

#Kramdown
kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown]
