<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated fadeInDown" itemscope itemtype="http://schema.org/SiteNavigationElement">
	    <ul>
	        <li><i class="icon-cloud"></i> <a href="{{ site.url }}/" title="Home">Home</a></li>
	        <li><i class="icon-archive"></i> <a href="{{ site.url }}/blog/archive" title="Archive">Archive</a></li>
	        <li><i class="icon-tags"></i> <a href="{{ site.url }}/blog/tags" title="Tags">Tags</a></li>
	        <li><i class="icon-rss"></i> <a href="{{ site.url }}/blog/feed.xml" title="Atom/RSS feed">Feed</a></li>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

