<div class="navigation-wrapper">
  <nav role="navigation" id="site-nav" class="animated drop" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <ul>
    <li><a href="{{ site.url }}/blog" title="Personal Blog"><i class="icon-pencil"></i> Blog</a></li>
    {% for link in site.links %}
    <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
    {% endfor %}
    <li><a href="{{ site.url }}/about" title="About"><i class="icon-info-sign"></i> About</a></li>
  </ul>
</ul>
</nav>
</div><!-- /.navigation-wrapper -->

