  <nav role="navigation" id="site-nav" class="animated slideInDown" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <ul>
      <li><a href="{{ site.url }}/" title="Home"><i class="icon-cloud"></i> Home</a></li>
      <li><a href="{{ site.url }}/blog/" title="Latest"><i class="icon-pencil"></i> Latest</a></li>
      <li><a href="{{ site.url }}/blog/archive" title="Archive"><i class="icon-archive"></i> Archive</a></li>
      <li><a href="{{ site.url }}/blog/tags" title="Tags"><i class="icon-tags"></i> Tags</a></li>
      <li><a href="{{ site.url }}/blog/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
      {% if site.search %}<li class="dosearch"><i class="icon-search"></i> Search</li>{% endif %}
    </ul>
  </nav>
