---
layout: default
---

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="row align-items-center mb-5">
        <div class="col-md-9">
          <h2 class="font-weight-bold">
            {{page.name}}
          </h2>
          <div class="mb-3">
            {% if page.website %}
            <a href="{{ page.website }}" target="_blank" class="mr-3" title="Website">
              <i class="fa-solid fa-globe"></i>
            </a>
            {% endif %}
            {% if page.linkedin %}
            <a href="{{ page.linkedin }}" target="_blank" class="mr-3" title="LinkedIn">
              <i class="fa-brands fa-square-linkedin"></i>
            </a>
            {% endif %}
            {% if page.github %}
            <a href="{{ page.github }}" target="_blank" class="mr-3" title="GitHub">
              <i class="fa-brands fa-square-github"></i>
            </a>
            {% endif %}
            {% if page.bluesky %}
            <a href="{{ page.bluesky }}" target="_blank" class="mr-3" title="Bluesky">
              <i class="fa-brands fa-square-bluesky"></i>
            </a>
            {% endif %}
            {% assign twitter_url = page.twitter | default: page.x %}
            {% if twitter_url %}
            <a href="{{ twitter_url }}" target="_blank" class="mr-3" title="Twitter/X">
              <i class="fa-brands fa-square-x-twitter"></i>
            </a>
            {% endif %}
          </div>
          <p class="excerpt">{{ page.bio }}</p>
        </div>
        <div class="col-md-3 text-right">
          <img
            alt="{{ page.name }}"
            src="{{site.baseurl}}/{{ page.avatar }}"
            class="rounded-circle"
            height="100"
            width="100"
          />
        </div>
      </div>
      <h4 class="font-weight-bold spanborder">
        <span>Posts by {{page.name}}</span>
      </h4>
      {% assign posts = site.posts | where:"author",page.slug %} {% for post in
      posts %} {% include main-loop-card.html %} {% endfor %}
    </div>
  </div>
</div>
