<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">

<div class="main-container">
  {% include browser-upgrade.html %}

  <!-- Navigation container -->
  <div class="navigation-container">
    {% include navigation_blog.html %}
  </div>

  <div class="search-container">
    {% include search.html %}
  </div>

  <div id="content-container">
    <!-- Content container -->
    <div class="blog-post-list" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
      {% if page.image.feature %}
      <img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}">
      {% endif %}
      <div class="blog-toc">
        <div class="blog-header">
          <h1 class="blog-title" itemprop="headline">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
        </div>
        <div class="blog-post-link-list">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer container -->
  <div class="footer-container">
    <footer role="contentinfo">
      {% include footer.html %}
    </footer>
  </div>

  {% include scripts.html %}
</div>
</body>
</html>
